.registration_form {
  margin: 0 auto;
  background-color: #E6E6FA;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}


.title {
  color: #303030;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
}

.subtitle {
  color: #303030;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.block {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.input {
  background-color: #fff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #303030;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.submit {
  border-radius: 12px;
  background-color: #6a5acd;
  color: #e6e6fa;
  border: 1px solid #6a5acd;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  margin-top: 30px;
  transition: background-color 250ms;
  text-align: center;
  width: 100%;
}

.submit:hover,
.submit:active {
  border: 1px solid #483d8b;
  transition: background-color 250ms, color 250ms;
  background-color: #483d8b;
  color: #e6e6fa;
}
