.text {
  text-align: center;
  color: #303030;
  font-size: 72px;
  font-weight: bolder;
  margin-top: 100px;
  animation: moveText 2s ease infinite alternate;
}

@keyframes moveText {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
