.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.formGroup input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  transition: background-color 250ms;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 12px;
  background-color: #6a5acd;
  color: #e6e6fa;
  border: 1px solid #6a5acd;
  border-radius: 4px;
}

.form button:hover,
.form button:focus,
.form button:active {
  border: 1px solid #483d8b;
  transition: background-color 250ms, color 250ms;
  background-color: #483d8b;
  color: #e6e6fa;
}
