.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfcfd;
}

p {
  margin: 0;
}

.button {
  cursor: pointer;
  color: red;
  border: none;
  background-color: transparent;
}

.button:hover,
.button:focus,
.button:active {
  text-decoration: underline;
}
